{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'index/css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://use.fontawesome.com/0c5250f976.js"></script>
</head>
<body>
    <div class="container head">
        <div class="row">
            <div class="col-xs-7">
                <div>
                    <a class="logo" href="{% url 'index:index' %}">Hlaf</a>
                    <button class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu main-menu">
                        <li>Метрики</li>
                        <li><a href="{% url 'metrics:generic_weighs' %}">Вес</a></li>
                        <li><a href="{% url 'metrics:generic_fitness' %}">Зарядка</a></li>
{% if user_obj.is_staff %}
                        <li><a href="{% url 'metrics:indicate_editor' %}">Счётчики</a></li>
                        <li><a href="{% url 'metrics:communal_editor' %}">Тарифы</a></li>
                        <li role="separator" class="divider"></li>
                        <li>Органайзер</li>
                        <li><a href="#">Сколерозник</a></li>
                        <li><a href="{% url 'books:start' %}">Маст рид</a></li>
                        <li role="separator" class="divider"></li>
                        <li>Настройки</li>
                        <li><a href="{% url 'index:essences' %}">Persons</a></li>
                        <li><a href="{% url 'index:flowmeter_editor' %}">FlowMeters</a></li>
{% endif %}
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-5">
                <div>
{% if user_obj.username %}
                    <div class="usname">Привет {{ user_obj.username }}!</div>
                    <a href="/auth/logout" class="auth">Выйти</a>
{% else %}
                    <!-- Modal login content-->
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="login_modal">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        <span class="glyphicon glyphicon-user"></span> Log in please
                                    </h4>
                                </div>
                                <form method="post" class="form-inline" action="{% url 'index:login' %}">
                                {% csrf_token %}
                                    <div class="modal-body">
                                        <label for="login">User name</label><br>
                                        <input type="text" class="form-control" name="username" placeholder="username"><br>
                                        <label for="password">Pass</label><br>
                                        <input type="password" class="form-control" name="password" placeholder="***"><br>
                                        <input type="checkbox" name="remember">
                                        <label for="remember">Remember me</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal login content -->
                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#login_modal">
                        <span>Войти</span>
                    </button>
                    <!--<a href="/auth/login" class="auth">Войти</a>-->
{% endif %}
                </div>
            </div>
        </div>
    </div>
{% block content %}
{% endblock %}

</body>
</html>