{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        /* внешние границы таблицы серого цвета толщиной 1px */
        table {border: 1px solid grey;}
        /* границы ячеек первого ряда таблицы */
        th {border: 1px solid grey;}
        /* границы ячеек тела таблицы */
        td {border: 1px solid grey;}
        /* размер текстового поля */
        .add {width: 70px; /* Ширина в пикселах */}
        /*a {color: #FCA205;}*/
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">
    <title>Title</title>

</head>
<body>
    <div style="float: right; padding-right: 10mm">
        {% if user_obj.username %}
            <div>Привет {{ user_obj.username }}!</div>
            <a href="/auth/logout">Выйти</a>
        {% else %}
            <a href="/auth/login">Авторизация</a>
        {% endif %}
    </div>
    <div style="float: left; padding-right: 10mm">Меню
        <div><a href="{% url 'metrics:menu' %}">Метрики</a></div>
        <div  style="margin-left: 10px  "><a href="{% url 'metrics:weighs_editor' %}">Вес</a></div>
        <div  style="margin-left: 10px  "><a href="{% url 'metrics:fitness_editor' %}">Зарядка</a></div>
        {% if user_obj.is_staff %}
            <div  style="margin-left: 10px  "><a href="{% url 'metrics:indicate_editor' %}">Счётчики</a></div>
            <div  style="margin-left: 10px  "><a href="{% url 'metrics:communal_editor' %}">Тарифы</a></div>
        <div><a href="#">Органайзер</a></div>
        <div style="margin-left: 10px  "><a href="#">Сколерозник</a></div>
        <div style="margin-left: 10px  "><a href="#">МастРид</a></div>
        <div><a href="#">Настройки</a></div>
        <div style="margin-left: 10px  "><a href="{% url 'index:master_data' %}">Личность</a></div>
            <div style="margin-left: 10px  "><a href="{% url 'index:flowmeter_editor' %}">Счётчики</a></div>
        {% endif %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>