{% extends "index/index.html" %}
{% block content %}
{% if user_obj.is_staff %}
    <div>
        <h2>Humans</h2>
        <form action="{% url 'index:human_delete' %}" method="post">
            {% csrf_token %}
            <table>
                <th>V</th><th>ID</th><th>Имя</th>
                {% for human in humans %}
                <tr>
                    <td><input type="checkbox" name="humans" id="humans{{ human.id }}" value="{{ human.id }}"></td>
                    <td>{{ human.id }}</td>
                    <td>{{ human.name }}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Удалить">
        </form>
        <form action="{% url 'index:human_insert' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="human_name">Имя</label>
                <input type="text" name="human_name" id="human_name">
                <input type="submit" value="Добавить">
            </div>
        </form>
    </div>
    {% else %}
    <div>There are no content!</div>
{% endif %}
{% endblock %}