{% extends 'index/base.html' %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-xs-12 sect-cap"><span class="{{ cap_icon }}"></span> {{ caption }}</div>
    </div>
    <div class="row">
{% for item in TemplateMetrics %}
        <div class="col-sm-6">
            <div>
                <a href="{{ item.human.id }}" class="table-cap"><span class="glyphicon glyphicon-user"></span> {{ item.human.name }}</a>
    {% block chart %}
    {% endblock %}
                <div class="panel panel-title">
                    <div class="panel-heading">
    {% if user_obj.username %}
                        <form method="post" class="form-inline" action="{% url 'metrics:'|add:item.metric_name|add:'_add'%}">
                        {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-xs-8">
        {% if item.fields %}
                                    <input type="text" class="form-control tb-metr" name="metric">
        {% endif %}
                                    <input type="hidden" name="human" value="{{ item.human.id }}">
                                </div>
                                <div class="col-xs-1">
                                    <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                                <div class="col-xs-1"></div>
                            </div>
                        </form>
    {% endif %}
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
    {% if user_obj.username %}
                                <th><span class="glyphicon glyphicon-remove"></span></th>
    {% endif %}
                                <th>Дата</th>
    {% if item.fields %}
                                <th>{{ item.fields.0.verbose_name }}</th>
    {% endif %}
                            </tr>
    {% for metric in item.metrics_6 %}
                            <tr>
        {% if user_obj.username %}
                                <td>
                                    <!-- Modal del content-->
                                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="del_modal{{ metric.id }}">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-warning">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        <span class="glyphicon glyphicon-warning-sign"></span> Delete weigh?
                                                    </h4>
                                                </div>
                                                <form method="post" class="form-inline" action="{% url 'metrics:'|add:item.metric_name|add:'_del' %}">
                                                {% csrf_token %}
                                                    <div class="modal-body">
                                                        <span class="glyphicon glyphicon-user"></span> {{ item.human.name }}<br>
                                                        <span class="{{ cap_icon }}"></span> {{ metric.f_get_metric }}<br>
                                                        <span class="glyphicon glyphicon-calendar"></span> {{ metric.m_date }}
                                                        <input type="hidden" name="metric" value="{{ metric.id }}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-warning">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Modal del content -->
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#del_modal{{ metric.id }}">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </td>
        {% endif %}
                                <td>
                                    {{ metric.m_date }}
                                </td>
        {% if metric.f_get_metric %}
                                <td>
                                    {{ metric.f_get_metric }}
                                </td>
        {% endif  %}
                            </tr>
    {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}