{% extends "index/index.html" %}
{% block content %}
    <div style="font-weight: 600; font-size: 150%;">{{ caption.0 }}</div>
{% for hum_me in list_hum_me %}
    <div style="float: left; padding-right: 10mm">
        <div style="font-weight: 600;">
            {% if caption.1 %}
                <a href="{{ hum_me.human.id }}">{{ hum_me.human.name }}</a>
            {% else %}
                {{ hum_me.human.name }}
            {% endif %}
        </div>
{% if caption.0 != 'Зарядка' %}
    {% if caption.1 == 1 %}
    <!--График-->
    <div id="chart_div{{ hum_me.human.id }}" style="width: 200px; height: 100px;"></div>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Year', '{{ caption.0 }}'],
{% for metrics_l in hum_me.metric_N_l %}
    {% for metric in metrics_l %}
        {% if forloop.counter0 == 2 %}
                    ['{{ metric|date:"d.m" }}',
        {% elif forloop.counter0 == 3 %}
                        Number('{{ metric }}'.replace(',','.'))],
        {% endif %}
    {% endfor %}
{% endfor %}
                ]);
                var options = {
                    vAxis: {minValue: 0},
                    legend: {position: 'top'},
                    chartArea:{left:15,top:15,width:'100%',height:'75%'},
                };
                var chart = new google.visualization.AreaChart(document.getElementById('chart_div{{ hum_me.human.id }}'));
                chart.draw(data, options);
            }
        </script>
    {% endif %}
{% endif %}
    <!--Ввод значений-->
        {% if user_obj.username %}
        <form action="{% url url_foradd %}" method="post">
        {% csrf_token %}
            <div class="input-block">
            {% for field in hum_me.model_fields %}
            {% if forloop.counter0 > 2 %}
                <label for="metric{{ hum_me.human.id }}">{{ field.verbose_name }}</label>
                <input class="add" type="text" name="metric" id="metric{{ hum_me.human.id }}">
            {% endif %}
            {% endfor %}
                <input type="hidden" name="human" value="{{ hum_me.human.id }}">
                <input type="submit" class="btn btn-info" value="+">
            </div>
        </form>
        {% endif %}

        <form action="{% url url_fordel %}" method="post">
            {% csrf_token %}
            <table>
                {% for field in hum_me.model_fields %}
                    {% if forloop.counter0 == 1 %}
                        <th>V</th>
                    {% elif forloop.counter0 > 1 %}
                        <th>{{ field.verbose_name }}</th>
                    {% endif %}
                {% endfor %}
                {% for metrics_l in hum_me.metric_N_l %}
                    <tr>
                        {% for metric in metrics_l %}
                            {% if forloop.counter0 == 0 %}
                                <td>{% if user_obj.username %}<input type="checkbox" name="metric" id="metric{{ metric }}" value="{{ metric }}">{% endif %}</td>
                            {% elif forloop.counter0 == 2 %}
                                {% if date_format == "s" %}
                                    <td><div>{{ metric|date:"d.m.Y" }}<br><i>{{ metric|date:"H:i" }}</i></div></td>
                                {% else %}
                                    <td><div>{{ metric }}</div></td>
                                {% endif %}
                            {% elif forloop.counter0 > 2 %}
                                <td><div style="float: right;">{{ metric }}</div></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% if user_obj.username %}<input type="submit" class="btn btn-info" value="Удалить">{% endif %}
        </form>
    </div>
{% endfor %}
{% endblock %}