{% extends "index/index.html" %}
{% block content %}
    <div style="font-weight: 600; font-size: 150%;">{{ caption.0 }}</div>
{% for hum_me in list_hum_me %}
    <div style="float: left; padding-right: 10mm">
        <div style="font-weight: 600;">
            {% if caption.1 %}
                <a href="{{ hum_me.human.id }}">{{ hum_me.human.name }}</a>
            {% else %}
                {{ hum_me.human.name }}
            {% endif %}
        </div>
    <!--Ввод значений-->
        {% if user_obj.username %}
        <form action="{% url url_foradd %}" method="post">
        {% csrf_token %}
            <div style="background-color: RGB(225, 255, 144);">
            {% for field in hum_me.model_fields %}
            {% if forloop.counter0 > 2 %}
                <label for="metric{{ hum_me.human.id }}">{{ field.verbose_name }}</label>
                <input type="text" name="metric" id="metric{{ hum_me.human.id }}">
            {% endif %}
            {% endfor %}
                <input type="hidden" name="human" value="{{ hum_me.human.id }}">
                <input type="submit" value="Добавить">
            </div>
        </form>
        {% endif %}

        <form action="{% url url_fordel %}" method="post">
            {% csrf_token %}
            <table>
                {% for field in hum_me.model_fields %}
                    {% if forloop.counter0 == 1 %}
                        <th>V</th>
                    {% elif forloop.counter0 > 1 %}
                        <th>{{ field.verbose_name }}</th>
                    {% endif %}
                {% endfor %}
                {% for metrics_l in hum_me.metric_N_l %}
                    <tr>
                        {% for metric in metrics_l %}
                            {% if forloop.counter0 == 0 %}
                                <td>{% if user_obj.username %}<input type="checkbox" name="metric" id="metric{{ metric }}" value="{{ metric }}">{% endif %}</td>
                            {% elif forloop.counter0 > 1 %}
                                <td><div>{{ metric }}</div></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% if user_obj.username %}<input type="submit" value="Удалить">{% endif %}
        </form>
    </div>
{% endfor %}
{% endblock %}